CMC_API_KEY = your-cmc-api-key
COINDESK_API_KEY = your-coindesk-api-key
MONGO_URI=your-mongo-uri
LCW_CODES=your-lcw-codes
LCW_INTERVAL=your-lcw-interval
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=your-jwt-expires-in
PORT=your-port
CORS_ORIGIN=your-cors-origin